/* Alejandro Requena Roncero UO301831   */

/* Estilos generales del proyecto MotoGP-Desktop*/

/* Especificidad (0,0,1) */
body{   font-family: Tahoma,Verdana,Segoe,sans-serif;
        background-color: #7c7c7c;     
}

/* Especificidad: (0,0,1) */
header {
  background-color: #050505; 
  color: #f0e6e4;
  padding: 1rem;
}

h1 a:visited{
  color: #da2923;   /* Soft Peach */
  text-decoration: none; /* Sin subrayado */
  
}

/* Especificidad: (0,0,1) */
nav {
  background-color: #7c7c7c; 
  color: #f0e6e4; 
  padding: 0.5rem;
}

/* Especificidad: (0,0,2) */
nav a {
  color: #f0e6e4;
  text-decoration: none;
}

/* Especificidad: (0,1,2) */
nav a:hover {
  color: #da2923;
}