/* Alejandro Requena Roncero UO301831   */

/* Estilos generales del proyecto MotoGP-Desktop*/

/* Especificidad (0,0,1) */
body{   font-family: Tahoma,Verdana,Segoe,sans-serif;
        background-color: #7c7c7c;     
}

/* Especificidad: (0,0,1) */
header {
  background-color: #050505; 
  color: #f0e6e4;
  padding: 1rem;
}

h1 a:visited{
  text-decoration: none;
  color:#da2923;
}

/* Especificidad: (0,0,1) */
nav {
  background-color: #7c7c7c; 
  margin: 0.2rem;
  margin-right: auto;
  padding: 0.5rem;
}

/* Especificidad: (0,0,2) */
nav a {
  color: #f0e6e4;
  padding:0.12em ;
}
/**Pasar por encima de un enlace*/
a:hover{
  color:orange;
  font-size: 1.05rem;
}

#migas p a{
  text-decoration: none;
  color: #f0e6e4;
}

/**Pagina seleccionada*/
/** Especificidad (0, 1, 1)*/
a.active{
  color:#da2923;
  border-color:#050505;
  font-style: italic;
}

/** Especificidad (1,0,0)*/

#migas {
  font-size: 1.1rem;
}


/** Especificidad (1,0,2)*/
#migas >  p > strong{
  color:#da2923;
  font-style: italic;
  font-size: 1.2rem;
}

/** Especificidad (0,0,3)*/
header > h1 > a{
  text-decoration-line: none;
}

/** Especificidad (0,0,1)*/
video{
  width: 100%;
  height:auto;
}
/** Especificidad (0,0,1)*/
audio {
    width: 100%;
    height: 2.5rem;
    min-height: 2rem; 
}
/**Especificidad (1,0,0)*/
#map {
  width: 100%;
  height: 50vh;
  box-sizing: border-box;
}

/**Especificidad (1,0,0)*/
#mapSvgFallback {
  position: relative;
  width: 100%;
  height: 50vh;
  display: block;
}

#carrusel img {
    width: 100%;
    height: 40vh;  
    object-fit: cover;
}
