/* Alejandro Requena Roncero UO301831   */

/* Estilos generales del proyecto MotoGP-Desktop*/

/* Especificidad (0,0,1) */
body{   font-family: Tahoma,Verdana,Segoe,sans-serif;
        background-color: #7c7c7c;     
}

/* Especificidad: (0,0,1) */
header {
  background-color: #050505; 
  color: #f0e6e4;
  padding: 1rem;
}

/** Especificidad (0, 1, 2)*/
h1 a:visited{
  text-decoration: none;
  color:#da2923;
}

/* Especificidad: (0,0,1) */
nav {
  background-color: #7c7c7c; 
  margin: 0.2rem;
  margin-right: auto;
  padding: 0.5rem;
}

/* Especificidad: (0,0,2) */
nav a {
  color: #f0e6e4;
  padding:0.12em ;
}

/**Especificidad (0,1,1)*/
a:hover{
  color:orange;
  font-size: 1.05rem;
}

/** Especificidad (1,0,2)*/
#migas p a{
  text-decoration: none;
  color: #f0e6e4;
}

/** Especificidad (0, 1, 1)*/
a.active{
  color:#da2923;
  border-color:#050505;
  font-style: italic;
}

/** Especificidad (1,0,0)*/
#migas {
  font-size: 1.1rem;
}


/** Especificidad (1,0,2)*/
#migas >  p > strong{
  color:#da2923;
  font-style: italic;
  font-size: 1.2rem;
}

/** Especificidad (0,0,3)*/
header > h1 > a{
  text-decoration-line: none;
}

/** Especificidad (0,0,1)*/
video{
  width: 100%;
  height:auto;
}
/** Especificidad (0,0,1)*/
audio {
    height: 2.5rem;
    min-height: 2rem; 
}
/**Especificidad (1,0,0)*/
#map {
  width: 100%;
  height: 50vh;
  box-sizing: border-box;
}

/**Especificidad (1,0,0)*/
#mapSvgFallback {
  position: relative;
  width: 100%;
  height: 50vh;
  display: block;
}

/**Especificidad (1,0,1)*/
#carrusel img {
    width: 100%;
    height: 40vh;  
    object-fit: cover;
}

/**Especificidad (0,0,1)*/
fieldset {
    margin-bottom: 2rem;
    padding: 1rem;
}

/**Especificidad (0,1,0)*/
.fila {
    display: block;
    margin-bottom: 1.5rem;
}

/**Especificidad (0,1,1)*/
.fila label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

/**Especificidad (0,1,1)*/
.fila input,
.fila select,
.fila textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
}


/** Especificidad (0,0,1)*/
button {
    margin-top: 1rem;
    padding: 0.6rem 1.2rem;
}

/**Especificidad (0,1,0)*/
.hidden { display: none; }
/**Especificidad (0,1,0)*/
.bloqueado { pointer-events: none; opacity: 0.7; background-color: #f0f0f0; }
/**Especificidad (0,1,0)*/
.fila { margin-bottom: 15px; }
/**Especificidad (0,1,0)*/
label { display: inline-block; width: 300px; font-weight: bold; }